.title {
    justify-content: center;
    display: flex;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.spinner {
    display: flex;
    justify-content: center;
}

.character-container {
    margin: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.character-card {
    margin: 5px;
}

